/* styles.css */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  /* Add any other global styles here */
}

.header-main {
  background-color: #ccae61;
  color: #fff;
  padding: 10px;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically in flex container */
  justify-content: flex-start; /* Move items to the start */
}

.email,
.phone {
  display: flex; /* Use flexbox for layout within the header */
  align-items: center; /* Center items vertically in flex container */
}

.email {
  margin-right: 10px; /* Adjust the margin for the email */
}

.phone {
  display: flex; /* Use flexbox for layout within the header */
  align-items: center; /* Center items vertically in flex container */
}

/* No need for margin adjustments here */

.social-media {
  margin-left: auto; /* Push social media icons to the right */
}

.icon {
  margin-right: 5px;
}

a {
  color: #fff;
  text-decoration: none;
}
/* styles.css */
/* ... previous code ... */

.email a:hover,
.phone a:hover {
  color: #5d3fd3; /* Change link color on hover */
}

.icon:hover {
  /* Specific hover styles for each social media icon */
  /* Replace with appropriate fill or color properties for each icon */
  fill: #3b5998; /* Example for Facebook blue */
}

/* responsive.css */

/* Add your responsive styles here */
